<h2><%= header %></h2>

  <% userChats.forEach(function (chat) { %>
    <div class="row chat">
      <div class="col-md-8">
        <%= chat.listing_id.name %><br>
        <%= chat.proposee_user_id.local.username %> <br>
        <strong>Initiated by: </strong><%= chat.proposer_user_id.local.username %> <br>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary view-message" href= <%= "/chats/mychats/" + chat._id %> >View Messages</a>
      </div>
    </div>
  <% }) %>
