<h2>Messages Index</h2>

<ul>
  <% userMessages.forEach(function (message) { %>
    <li>
      <strong>Message ID: </strong><%= message._id %> <br>
      <strong>Message: </strong><%= message.message %> <br>
      <strong>Message Date: </strong><%= message.messagedate %> <br>
      <strong>Proposer UserID: </strong><%= message.proposer_user_id %> <br>
      <strong>Proposee UserID: </strong><%= message.proposee_user_id %> <br>
      <strong>Listing ID: </strong><%= message.listing_id %> <br>
    </li>
  <% }) %>
</ul>
