<h2>Chat Messages</h2>

<form class="new-message" method="post" action=<%= "/chats/mychats/" + chat._id %> >

  <div class="row">
    <div class="form-group col-md-12">
      <label for="messageInput">Message</label>
      <input type="text" class="form-control" id="messageInput" placeholder="Write Message Here" name="message">
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <%= chat %>

  <ul>
      <li>
        <strong>Message ID: </strong><%= chat._id %> <br>
        <strong>Message: </strong><%= chat.message %> <br>
        <strong>Message Date: </strong><%= chat.chatbox_id %> <br>
        <strong>Proposer UserID: </strong><%= chat.messagedate %> <br>
      </li>
  </ul>
