<h2>
  <%= data.name %><br>
  <small><a href=<%= "/listings/userlistings/" + data.user_id._id %>><%= data.user_id.local.username %></a></small>
</h2>

<strong>Listing Name: </strong><%= data.name %> <br>
<strong>Listing Description: </strong><%= data.description %> <br>
<strong>List Date: </strong><%= data.listdate %> <br>
<strong>Availibility: </strong><%= data.availability %> <br>
