<h2>
  <%= data.name %><br>
  <small><%= data.user_id.local.username %></small>
</h2>

<strong>Listing Name: </strong><%= data.name %> <br>
<strong>Listing Description: </strong><%= data.description %> <br>
<strong>List Date: </strong><%= data.listdate %> <br>
<strong>Availibility: </strong><%= data.availability %> <br>
