<% data.forEach(function (listing) { %>
    <div class="col-md-3">
      <div class="panel panel-default">

      <div class="panel-body">
        <a href= <%= "/listings/" + listing._id %> >
        <h3 class="listingname"><%= listing.name %></h3>
        </a>
        <h4 class="listingdescription"><%= listing.description %></h4>

        <p class="listingusername">Listed by:
        <a href=<%= "/listings/userlistings/" + listing.user_id._id %>>
        <%= listing.user_id.local.username %>
        </a>
        </p>
      </div>

      </div>
  </div>
<% }) %>
