<h2>Trade</h2>

<strong>Proposer: </strong>
<a href=<%= "/listings/userlistings/" + thisTrade.proposer_user_id._id %>>
  <%= thisTrade.proposer_user_id.local.username %> <br>
</a>

<strong>Proposer Listing: </strong>
<a href= <%= "/listings/" + thisTrade.proposer_listing_id._id %> >
<%= thisTrade.proposer_listing_id.name %> <br>
</a>

<strong>Proposee User: </strong>
<a href=<%= "/listings/userlistings/" + thisTrade.proposee_user_id._id %>>
<%= thisTrade.proposee_user_id.local.username %> <br>
</a>

<strong>Proposee Listing: </strong>
<a href= <%= "/listings/" + thisTrade.proposee_listing_id._id %> >
<%= thisTrade.proposee_listing_id.name %> <br>
</a>

<strong>Offer Date: </strong><%= thisTrade.listdate %> <br>

<strong>Status: </strong><%= thisTrade.status %> <br>
