<h2>Trade</h2>

<strong>Proposer User ID: </strong><%= thisTrade.proposer_user_id.local.username %> <br>
<strong>Proposer Listing ID: </strong><%= thisTrade.proposer_listing_id.name %> <br>
<strong>Proposee User ID: </strong><%= thisTrade.proposee_user_id.local.username %> <br>
<strong>Proposee Listing ID: </strong><%= thisTrade.proposee_listing_id.name %> <br>
<strong>Offer Date: </strong><%= thisTrade.listdate %> <br>
<strong>Status: </strong><%= thisTrade.status %> <br>
