<h2>My Offers</h2>

<ul>
  <% data.forEach(function (trade) { %>
    <li>
      <strong>Trade ID: </strong><%= trade._id %> <br>
      <strong>Proposer Username: </strong><%= trade.proposer_user_id.local.username %> <br>
      <strong>Proposer Listing Name: </strong><%= trade.proposer_listing_id.name %> <br>
      <strong>Proposee Username: </strong><%= trade.proposee_user_id.local.username %> <br>
      <strong>Proposee Listing Name: </strong><%= trade.proposee_listing_id.name %> <br>
      <strong>Offer Date: </strong><%= trade.listdate %> <br>
      <strong>Status: </strong><%= trade.status %> <br>
      <a href= <%= "/trades/" + trade._id %> >Visit Page</a>
    </li>
  <% }) %>
</ul>
