<h2>My Listings</h2>

  <% data.forEach(function (listing) { %>
      <div class="col-md-6 listing">
        <p><%= listing.name %></p>
        <p><%= listing.description %></p>

        <form class="btn" method="POST" action="/trades">
          <input type="hidden" value=<%= listing._id %> name="proposerListingID" />
          <input type="hidden" value=<%= userID %> name="proposeeUserID" />
          <input type="hidden" value=<%= listingID %> name="proposeeListingID" />
          <button type="submit" class="btn btn-primary offer-book">Offer Book</button>
        </form>
      </div>


  <% }) %>
