<h2>Trade</h2>

<ul>
    <li>
      <strong>Proposer User ID: </strong><%= thisTrade.proposer_user_id.local.username %> <br>
      <strong>Proposer Listing ID: </strong><%= thisTrade.proposer_listing_id.name %> <br>
      <strong>Proposee User ID: </strong><%= thisTrade.proposee_user_id.local.username %> <br>
      <strong>Proposee Listing ID: </strong><%= thisTrade.proposee_listing_id.name %> <br>
      <strong>Offer Date: </strong><%= thisTrade.listdate %> <br>
      <strong>Status: </strong><%= thisTrade.status %> <br>
    </li>

    <h4>Proposer Options:</h4>
    <a href=<%= "/chats/mychats/" + thisChat._id %>>View Chat</a>

    <form class="btn" method="POST" action=<%= "/trades/offered/" + thisTrade._id %>>
      <button type="submit" class="btn btn-default">Remove Offer</button>
    </form>

    <br>

    <h4>Proposee Options:</h4>
    <form class="btn" method="POST" action=<%= "/trades/accept/" + thisTrade._id + "?_method=PUT"%>>
      <button type="submit" class="btn" type="button" name="button">Accept</button>
    </form>

    <form class="btn" method="POST" action=<%= "/trades/reject/" + thisTrade._id + "?_method=PUT" %>>
      <button type="submit" class="btn" type="button" name="button">Reject</button>
    </form>

    <form class="btn" method="POST" action=<%= "/trades/pending" + thisTrade._id + "?_method=PUT" %>>
      <button type="submit" class="btn" type="button" name="button">Pending</button>
    </form>

    <br>

    <h4>Admin Options:</h4>
    <form class="btn" method="POST" action=<%= "/trades/" + thisTrade._id + "?_method=DELETE"%>>
      <button type="submit" class="btn btn-default">Delete</button>
    </form>

</ul>
