<h2>My Listings</h2>

<form class="new-listing" method="post" action="/listings">
  <div class="row">
    <div class="form-group col-md-6">
      <label for="listingNameInput">Name</label>
      <input type="text" class="form-control" id="listingNameInput" placeholder="Item Name" name="listing[name]">
    </div>
    <div class="form-group col-md-6">
      <label for="listingDescription">Description</label>
      <input type="text" class="form-control" id="listingDescription" placeholder="Description" name="listing[description]">
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<ul>
  <% data.forEach(function (listing) { %>
    <li>
      <strong>Listing Name: </strong><%= listing.name %> <br>
      <strong>Listing Description: </strong><%= listing.description %> <br>
      <strong>List Date: </strong><%= listing.listdate %> <br>
      <strong>Availibility: </strong><%= listing.availability %> <br>
      <strong>User ID: </strong><%= listing.user_id %> <br>
      <strong>Book ID: </strong><%= listing._id %> <br>
      <a href= <%= "/listings/" + listing._id %> >Visit Page</a>
      <!-- <button class="btn update" type="button" name="button">Update</button>
      <button class="btn delete" type="button" name="button">Delete</button> -->
    </li>
  <% }) %>
</ul>

<a href="/terade/profile">Profile</a>
