<h2>Available Books</h2>

<ul>
  <% data.forEach(function (listing) { %>
    <li>
      <strong>Listing Name: </strong><%= listing.name %> <br>
      <strong>Listing Description: </strong><%= listing.description %> <br>
      <strong>List Date: </strong><%= listing.listdate %> <br>
      <strong>Availibility: </strong><%= listing.availability %> <br>
      <strong>Username: </strong><%= listing.user_id.local.username %> <br>
      <a href= <%= "/trades/" + listing.user_id._id +  "/" + listing._id +"/selecttrade" %> >Make an offer</a>
      <a href= <%= "/messages/" + listing.user_id._id +  "/" + listing._id + "/new" %> >Send Message</a>
    </li>
  <% }) %>
</ul>
